<h1>Data Binding Exemple</h1>
<h3>Output Binding</h3>
<p>Name : {{ book.name }}</p>
<p>Author : {{ book.author }}</p>
<p>Pages : {{ book.pages }}</p>
<p>Contact : {{ book.contact }}</p>
<h3>Event Binding</h3>
<input type="text" placeholder="Book name" #bookField />
<button (click)="add_Item(bookField.value)">Add Item</button>
<ul>
  <li *ngFor="let name of names">Item : {{ name }}</li>
</ul>
<h3>Two Way Binding</h3>
<input type="text" [(ngModel)]="inputText" value="inputText" />
<p>{{ inputText }}</p>
